/*task 1*/
header {
    border: 1px solid black;
}

/*task2*/
ul {
    list-style-type: none;
}

li {
    display: inline-block;
}

/*task4*/
.disabled {
    color: grey;
}

a.disabled, a span.disabled{
    color: purple;
}

/*task5*/
.active {
    color: yellow;
}

/*Task 8*/
.red {
    color: red;
}

/*Task 9*/
.blue {
    color: blue;
}

/*Task 10*/
.red + h4 {
    background-color: red;
}

/*Task 11*/
.blue + h4 {
    background-color: blue;
}

/*Task 12*/
.grandparent h4 {
    border: 1px solid black;
    border-radius: 1px;
}

/*Task 13*/
.promo {
    font-weight: bold;
    color: gold;
}

/*Task 14*/
footer input {
    height: 25px;
}


